:root {
    --primary-color: #FFFFFF;
    --secondary-color: #1f242f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.light-theme {
    --primary-color: #1f242f;
    --secondary-color: #FFFFFF;
}

html {
    font-family: 'Rubik', 'Material Icons', "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--secondary-color);
    width: 100%;
}

body {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}



.header-container {
    background-color: rgb(29 30 37 / 5%);
    width: 100%;
    backdrop-filter: saturate(130%) blur(35px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 10;
    top: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 3em;
    margin: 0px auto 0.25rem;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    color: var(--primary-color);
    font-size: 16px;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

.icon {
    width: 38px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 80px;
    height: 80px;
}

.text {
    color: var(--primary-color);
    font-size: 24px;
    padding-left: 10px;
}



/* MAIN SECTION */

.wrapper {
    margin: auto;
    max-width: 75rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 11em 2em 0 2em;
    margin: 0 auto;
    width: 100%;
}

.main-title {
    color: var(--primary-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    line-height: 1.25;
    padding-left: 20px;
    padding-right: 20px;
}

.second-title {
    color: rgb(160, 174, 192);
    font-size: 24px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.link-color-blue {
    color: rgb(56, 163, 224);
    font-weight: bold;
    font-size: 24px;
}

.link-color-rose {
    color: #e661b2;
    font-weight: bold;
    font-size: 24px;
}

.link-color-green {
    color: #109D59;
    font-weight: bold;
    font-size: 24px;
}

.link-color-violet {
    color: #7D61E0;
    font-weight: bold;
    font-size: 24px;
}

.link-color-yellow {
    color: #FFE600;
    font-weight: bold;
    font-size: 24px;
}

.link-color-greenie {
    color: #4DE4CF;
    font-weight: bold;
    font-size: 24px;
}

.link-color-pink {
    color: #E51B3E;
    font-weight: bold;
    font-size: 24px;
}

.section-title {
    color: var(--primary-color);
    padding-top: 30px;
    padding-left: 20px;
    font-size: 28px;
    font-family: 'Work Sans', sans-serif;
}


/* PROJECTS WORKS */

.portfolio {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 1em 2em 1em 2em;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
}

.portfolio-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
}

.card1,
.card2 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.card-cover {
    width: 100%;
}

.card-title {
    color: var(--primary-color);
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Rubik', 'Material Icons', "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card-title a{
    color: #ffffff;
}

.card-title a:visited{
    color: #ffffff;
}



.card-tags {
    color: rgb(160, 174, 192);
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 10px;
}

.card-description {
    color: rgb(160, 174, 192);
    font-size: 18px;
    padding-top: 10px;
    font-weight: normal;
    font-family: 'Rubik', 'Material Icons', "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.30;
}

div.links{
    text-align: center;
    padding-bottom: 2em;
    color: var(--primary-color);
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
footer h4{
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 2em;
}

.footer-links{
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.footer-links:hover{
    text-decoration: underline;
}

.divider{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--primary-color);
    margin: 1em 4em;
    padding: 0;
    opacity: 20%;
}

/* SECTION WORK */

/* LEGAL */

.text-legal, .links, .footer-links {
    color: var(--primary-color);

}




/*MEDIA QUERIES*/



@media (max-width: 600px) {
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1em 2em 1em 2em;
        margin: 0px auto 0.25rem;
    }
    .menu li a{
        font-size: 13px;
    }
    .logo-img{
        width: 60px;
        height: 60px;
    }
    .text {
        display: none;
    }
    
    .portfolio-container, .portfolio-container2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        padding-top: 30px;
        align-items: center;
    } 
    
    .main-section {
        padding: 8em 2em 0 2em;
        
    }
    .card1,
    .card2 {
        width: 100%;
        padding-right: 18px;
        padding-left: 18px;
        padding-bottom: 50px;
    } 
}


@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1em 2em 1em 2em;
        margin: 0px auto 0.25rem;
    }
    .menu li a{
        font-size: 13px;
    }
    .logo-img{
        width: 60px;
        height: 60px;
    }
    .text {
        display: none;
    }
    .main-section{
        padding: 8em 2em 0 2em;
    }
    
    
}



@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
    }
    
}
